/* ヘッダー */
.header-logo{
    float: left;
    width:20%;
    padding: 2%;
    
li{
   list-style: none;
   float: left;
   font-size: 21px;
   padding: 50px 25px;
}

/* メインビジュアル */
.mainbg{
    background-image:url(kadaiImage/mainbg.png)

}

h1{font-size: 48px;
    text-align: center;
    color: white;
}


p1{
    font-size: 36px;
    text-align: center;
    color: white;
   }


}

.mainbg{
    position: relative;
}

.mainbg-innner{
    margin: auto;
}



   .flex-list{
       display: flex;
   }












footer{
    background-color: #707070;

}
.footer-message{
    text-align: center;
    padding: 30px 0 30px 0;
    color: white;
}

